.container {
    width: 1024px;
    height: 350px;
    margin: 0 auto;
    background-color: #efeee7;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 24px;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
}

#bio-image {
    margin-right: 20px;
    /* Do you need to put width and height here if you coded it on the img tag in the html? */
    width: 200px;
    height: 200px;
}

a {
    color: #d21034;
}